/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 12pt;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 1.5em 0 1.5em 0;
	}
	
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron-level-0
	{
		margin-top: 1.3em;
	}